*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
#box1{
    height: 300px;
    width: 300px;
    background-color: brown;
}
#box2{
    height: 300px;
    width: 300px;
    background-color: rgb(115, 101, 222);
}
#go1{
    height: 300px;
    width: 300px;
    background-color: rgb(226, 89, 183);
}
#go2{
    height: 300px;
    width: 300px;
    background-color: rgb(16, 78, 5);
}
#go3{
    height: 300px;
    width: 300px;
    background-color: rgb(190, 211, 115);
}
#nav{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
#part2{
    display: flex;
    gap: 30px;
}
#woo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    white-space: nowrap;
}